@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-media --xs (width > 300px);
@custom-media --sm (width > 600px);
@custom-media --md (width > 900px);
@custom-media --lg (width > 1200px);
@custom-media --xl (width > 1600px);

:root {
  --max-width: 1100px;
  --contain-padding: 1.2rem;
  --menu-width: 85px;
  --gap: 2rem;
}

@media (--md) {
  :root {
    --menu-width: 250px;
  }
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.1;
}

h2 {
  color: #920075;
}

p {
  margin-bottom: 1em;
}

a {
  text-decoration: underline;
  color: rgb(71, 71, 163);
}

.btn:is(button, a):not(.\!p-0, .wide) {
  padding-block: 0.625em !important;
}

.snackbar-container .snackbar-stack {
  display: flex;
  flex-direction: column-reverse;
}

.switch .track .thumb {
  left: 0.1em !important;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu-lightitalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu-mediumitalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/fontsubuntu-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu-bolditalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
